/*-- scss:defaults --*/
$presentation-h1-font-size: 2em;

/*-- scss:rules --*/
.reveal ul ol li p {
  font-size: 0.7em;
  color: $inrae-sombre;
}

.reveal .quarto-title-block .quarto-title-authors {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #008c8e;
  display: flex;
  text-align:right;
  justify-content: right;
  line-height: 1em;
}

.reveal a {
  color: #1363e3
}

